<form class="flex flex-col gap-4" (ngSubmit)="onFormSubmit($event)">
  <h1 class="text-4xl font-extrabold mb-4">Change password</h1>
  <h2 class="text-2xl font-semibold">Current Password</h2>
  <ul [formGroup]="passwordControlGroup" class="flex flex-row justify-center gap-[4px]" style="min-width: 0;">
    <li *ngFor="let c of this.mask; index as i" class="flex flex-col justify-center">
      <div style="height: 65px" class="flex flex-col justify-center">
        <div *ngIf="c === '0'" style="min-width: 0; max-width: 25px; height: 40px; width: 25px; background-color: gray; margin-left: 10px;" class="rounded" ></div>
        <input
          *ngIf="c === '1'"
          [formControlName]="'passwordControl' + controls[i]"
          class="input text-black font-extrabold text-center p-0"
          type="password"
          style="min-width: 0; max-width: 40px; height: 60px; margin-left: 10px; font-size: 20px; padding: 0;"
          maxlength="1"
          size="2" />
      </div>
      <p [ngClass]="{'text-center ml-[10px]' : true, 'font-extrabold text-xl': c === '1' }">{{i+1}}</p>
    </li>
  </ul>
  <h2 class="text-2xl font-semibold mt-10">New Password</h2>
  <input [formControl]="newPasswordControl" type="password" class="input w-[300px] mx-auto text-black" placeholder="Password">
  <app-password-strength-indicator [strength]="checkStrength(newPasswordControl.value ?? '')" ></app-password-strength-indicator>
  <input [formControl]="confirmPasswordControl" type="password" class="input w-[300px] mx-auto text-black" placeholder="Confirm Password">
  <button *ngIf="!isLoading()" type="submit" class="btn btn-secondary uppercase mt-4 mx-auto">Change Password</button>
  <button *ngIf="isLoading()" type="submit" class="btn btn-secondary btn-disabled uppercase mt-4 mx-auto">
    <span class="loading loading-spinner text-neutral"></span>
  </button>
</form>
