<form class="flex flex-col gap-4" (ngSubmit)="onSubmit()">
  <h1 class="text-4xl font-extrabold mb-4">Welcome to the Bank System!</h1>
  <input [formControl]="emailControl"  type="email" class="input w-[300px] mx-auto text-black" placeholder="Email">
  <input [formControl]="firstNameControl" type="text" class="input w-[300px] mx-auto text-black" placeholder="First Name">
  <input [formControl]="lastNameControl" type="text" class="input w-[300px] mx-auto text-black" placeholder="Last Name">
  <input [formControl]="passwordControl" type="password" class="input w-[300px] mx-auto text-black" placeholder="Password">
  <input [formControl]="confirmPasswordControl" type="password" class="input w-[300px] mx-auto text-black" placeholder="Confirm Password">
  <input [formControl]="idControl" type="text" class="input w-[300px] mx-auto text-black" placeholder="ID Number">
  <input [formControl]="phoneControl" type="tel" class="input w-[300px] mx-auto text-black" placeholder="Phone Number">
  <button type="submit" class="btn btn-secondary uppercase mt-4 mx-auto">Register</button>
</form>
