<div class="mx-auto flex flex-col justify-center h-full max-w-4xl">
  <div class="mx-auto text-center bg-primary shadow-xl rounded p-8">
    <h1 class="text-4xl font-extrabold mb-4">Welcome to the Bank System!</h1>
    <p>Here you can manage your bank account.</p>
    <p>Click on the links below to get started.</p>
    <div class="flex flex-row justify-center gap-24 mt-4">
      <a href="/sign-up" class="btn btn-secondary uppercase">Sing Up</a>
      <a href="/sign-in" class="btn btn-secondary uppercase">Login</a>
    </div>
  </div>
</div>
