<h1 class="text-2xl px-4" >Your Data</h1>
<div class="bg-gray-200 p-4 rounded shadow-xl">
  <h2 class="italic text-xl">Debit card</h2>
  <div class="flex flex-row justify-between px-12 py-2">
    <div>
      <p class="font-bold">1234 1234 1234 1234</p>
      <p>12/23</p>
    </div>
    <div class="flex flex-row gap-4">
      <button class="btn">Show</button>
      <p class="text-4xl font-extrabold blur">123</p>
      <p class="my-auto text-2xl">CVV</p>
    </div>
  </div>
  <h2 class="text-xl italic">Private Information</h2>
  <div class="px-12 py-2">
    <div class="flex flex-row gap-8">
      <div>
        <p>Phone Number:</p>
        <p>Id Number:</p>
      </div>
      <div>
        <p>123456789</p>
        <p>ABC 123456</p>
      </div>
    </div>
  </div>
</div>
