<h1 class="text-2xl px-4" >Your Data</h1>
<div class="bg-gray-200 p-4 rounded shadow-xl">
  <h2 class="italic text-xl">Debit card</h2>
  <div class="flex flex-row justify-between px-12 py-2">
    <div>
      <p class="font-bold">{{ getCardNumber() }}</p>
      <p>{{accountdata?.data?.expirationDate}}</p>
    </div>
    <div class="flex flex-row gap-4">
      <button class="btn" (click)="toggleCvvVisible()">Show</button>
      <p [ngClass]="{'text-4xl font-extrabold' : true, 'blur': !cvvVisible }">{{accountdata?.data?.cvv}}</p>
      <p class="my-auto text-2xl">CVV</p>
    </div>
  </div>
  <h2 class="text-xl italic">Private Information</h2>
  <div class="px-12 py-2">
    <div class="flex flex-row gap-8">
      <div>
        <p>Phone Number:</p>
        <p>Id Number:</p>
      </div>
      <div>
        <p>{{ getPhoneNumber() }}</p>
        <p>{{userSensitiveData?.data?.idNumber}}</p>
      </div>
    </div>
  </div>
</div>
